{{ form_start(form, {'attr': {'class': 'form-inline', 'autocomplete': 'off', 'novalidate': 'novalidate'}}) }}
<div class="control-group input-prepend input-append {% if form.username.vars.errors|length %}warning{% endif %}">
    <span class="add-on">@</span>
    {{ form_widget(form.username, {'attr': {'placeholder': 'type in username', 'autofocus': 'autofocus', 'autocomplete': 'off'}}) }}
    <button id="generate" class="btn btn-warning" type="submit">Generate!</button>
</div>

{{ form_end(form) }}