{% extends "layout.html.twig" %}

{% block body %}
    <h2 id="slogan"><strong>Generate</strong> feed for any Twitter user timeline!</h2>

    {% include 'homepage/form.html.twig' with {form: form} %}

    <p>I created this service after Twitter dropped their support of RSS feed and most of my Google Reader subscriptions froze. I've been using it by myself for some time now and decided to share with you.</p>

    <p>Please use <a href="http://tweets2feed.com">tweets2feed.com</a> or host it on your own. Source code and installation steps can be found <a href="https://github.com/alanbem/tweets2feed">here</a>.<br /><br />Enjoy!</p>

{% endblock body %}